.hero {
  display: flex;
  justify-content: center;
  padding-bottom: 176px;
  background-color: #F8F8F8;

  @include tablet {
    padding-bottom: 136px;
  }

  @include mobile {
    padding-bottom: 86px;
  }

  @include middle-mobile {
    padding-bottom: 46px;
  }

  &__descr {
    max-width: 600px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 34px;

    @include tablet {
      flex-direction: column;
    }
  }

  &__model {
    margin-top: 104px;
    margin-bottom: 53px;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;

    @include mobile {
      margin-top: 54px;
      margin-bottom: 23px;
    }

    @include middle-mobile {
      margin-top: 24px;
      margin-bottom: 0px;
    }
  }

  &__title {
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;

    @include tablet {
      margin-bottom: 20px;
      font-size: 210px;
    }

    @include mobile {
      font-size: 170px;
    }

    @include middle-mobile {
      font-size: 130px;
      margin-bottom: 0;
    }

    @include small-mobile {
      font-size: 100px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 87px;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;

    @include tablet {
      margin-bottom: 20px;
      font-size: 28px;
    }

    @include mobile {
      font-size: 22px;
    }




  }

  &__image {
    @include tablet {
      display: none;
    }
  }

}
