.hero {
  padding-bottom: 176px;
  background-color: #F8F8F8;
  &__descr {
    max-width: 600px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 34px;
  }

  &__model {
    margin-top: 104px;
    margin-bottom: 53px;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;

  }

  &__title {
    margin-bottom: 43px;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;
  }

  &__text {
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    color: #161515;
      }
}
