<section class="description">
  <div class="container">
    <h1 class="description__title">Product description</h1>
    <p class="description__text">
      Inspired by the WWI trench watch, this timepiece has a contemporary design with an urban style and a vintage soul. The 22 Design Studio Concrete Sector Watch reinterprets the old timepiece with a concrete dial. Handmade in Taiwan, the dial is cast in one piece using the béton technique <span class="description__span">more detailed</span>
    </p>
  </div>
</section>
