<header class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__descr">
        <h6 class="hero__model">mor705</h6>
        <h1 class="hero__title">Watch</h1>
        <p class="hero__text">
          The watch also features a tough and durable sapphire a Swiss Sellita SW200-1 automatic winding movement that has a power reserve
        </p>
        <div class="button__hero">
          <button class="btn btn-reset button__hero-black">Buy watch</button>
          <button class="btn btn-reset button__hero-white">1700$</button>
        </div>
      </div>
      <div class="hero__image">
        <img src="img/watch-hero.png" alt="">
      </div>
    </div>
  </div>
</header>
