<section class="models">
  <div class="container">
    <h6 class="models__category">popular</h6>
    <h2 class="models__title">Models</h2>
    <div class="card">
      <div class="card__image">
        <img src="img/watch-1.png" alt="">
      </div>
      <h3 class="card__title">Son22</h3>
      <p class="card__text">
        The watch also features a tough and durable sapphire crystal glass and comes with a Swiss SW200-1 automatic winding movement that has a power reserve.
      </p>
    </div>


    <div class="card__inner">
          <div class="card">
      <div class="card__image">
        <img src="img/watch-2.png" alt="">
      </div>

      <h3 class="card__title">Sw12</h3>
      <p class="card__text">
        The watch also features a tough and durable sapphire crystal glass and comes with a Sw12-1 automatic winding.
      </p>
    </div>
    </div>
    
  </div>
</section>
